* {
    margin: 0;
    padding: 0;
}

*,
::before,
::after {
    box-sizing: border-box;
}

/* Before Navbar Div Starts */
.above-nav {
    width: 100%;
    background-color: rgb(33, 209, 209);
    text-align: center;
    color: white;
}

.above-nav .btn {
    margin-top: 2px;
    font-size: 0.8rem;
}

/* Before Navbar Div Ends */

/* Navbar Starts */
.navbar-brand img {
    height: 5rem;
}

/* Navbar Ends */

/* Slider Section Starts */
.slider-btn1 {
    font-size: 0.7rem;
}

.slider-btn2 {
    font-size: 0.7rem;
    background-color: rgb(33, 209, 177);
}

.slider-btn2:hover {
    background-color: rgb(3, 140, 115);
}

/* Slider Section Ends */

/* Template Section Starts */
.template-section-h1 {
    color: orangered;
}

.template-btn {
    font-size: 0.7rem;
    background-color: rgb(33, 209, 177);
    width: 50%;
}

.template-btn:hover {
    background-color: rgb(3, 140, 115);
}

.template-section-img {
    display: block;
    height: 23rem;
}

@media only screen and (max-width: 300px) {
    .template-btn {
        width: 100%;
    }

    .template-section-img {
        height: 8rem;
    }
}

@media only screen and (min-width: 301px) and (max-width: 400px) {
    .template-btn {
        width: 100%;
    }

    .template-section-img {
        height: 12rem;
    }
}

@media only screen and (min-width: 401px) and (max-width: 500px) {
    .template-btn {
        width: 100%;
    }

    .template-section-img {
        height: 14rem;
    }
}

@media only screen and (min-width: 501px) and (max-width: 600px) {

    .template-section-img {
        height: 16rem;
    }
}

/* Template Section Ends */

/* Section breaker Starts */
.section-breaker {
    padding: 6px 0px;
    background-image: linear-gradient(to right, rgb(5, 96, 127), rgb(68, 68, 210), blueviolet, purple, red, orangered, orange, yellow, lightgreen, green, skyblue);
}

/* Section breaker Ends */

/* Services Section Starts */
.services-section {
    background: url('/assets/images/services-bg.jpg') center center/cover;
}

.services-card-icon {
    color: rgb(33, 209, 177);
    font-size: 2.3rem;
    font-variation-settings:
        'FILL' 1,
        'wght' 400,
        'GRAD' 0,
        'opsz' 24
}

.services-section-btn {
    font-size: 0.7rem;
    background-color: rgb(33, 209, 177);
}

.services-section-btn:hover {
    background-color: rgb(3, 140, 115);
}

/* Services Section Ends */

/* Get Template Section Starts */
.get-template-section {
    background-color: rgb(33, 209, 177);
}

.get-template-btn {
    font-size: 0.7rem;
    background-color: rgb(33, 209, 177);
}

.get-template-btn:hover {
    background-color: rgb(3, 140, 115);
}

/* Get Template Section Ends */

/* About Us Section Starts */
.about-us-section {
    background: url('/assets/images/about-us-bg.jpg') center center/cover;
}

.about-us-icon {
    font-size: 4rem;
    font-weight: 300;
}

/* About Us Section Ends */

/* achievement Section Starts */
.achievement-section {
    background-color: black;
}

.achievement-icon {
    color: rgb(33, 209, 177);
    font-size: 2.3rem;
}

/* achievement Section Ends */

/* Portfolio Section Starts */
.portfolio-headers h6:hover {
    color: rgb(33, 209, 177);
    text-decoration: underline;
    transition: 0.2s;
}

.portfolio-images img {
    width: 100%;
    aspect-ratio: 1/1;
}

/* Portfolio Section Ends */

/* Team Section Starts */
.team-image {
    width: 11rem;
    aspect-ratio: 1/1;
    border-radius: 50%;
}

.team-image1 {
    background: linear-gradient(rgba(0, 0, 0, 0.4), rgba(0, 0, 0, 0.4)), url(/assets/images/team1.jpeg) center center/cover;
}

.team-image2 {
    background: linear-gradient(rgba(0, 0, 0, 0.4), rgba(0, 0, 0, 0.4)), url(/assets/images/team2.jpeg) center center/cover;
}

.team-image3 {
    background: linear-gradient(rgba(0, 0, 0, 0.4), rgba(0, 0, 0, 0.4)), url(/assets/images/team3.jpeg) center center/cover;
}

.team-image4 {
    background: linear-gradient(rgba(0, 0, 0, 0.4), rgba(0, 0, 0, 0.4)), url(/assets/images/team4.jpeg) center center/cover;
}

.team-image .material-symbols-outlined {
    font-size: 2.3rem;
}

.team-image .phone-icon {
    color: rgb(3, 140, 115);
}

/* Team Section Ends */

/* Review Section Starts */
.review-section {
    background: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), url(/assets/images/review-bg.jpg) center center/cover;
}

/* Review Section End */

/* Partner Section Starts */
.partner-image-div {
    width: 11rem;
    aspect-ratio: 2/1;
    mix-blend-mode: multiply;
}

.partner-image1 {
    background: url(/assets/images/partner1.png) center center/cover;
}

.partner-image2 {
    background: url(/assets/images/partner2.png) center center/cover;
}

.partner-image3 {
    background: url(/assets/images/partner3.png) center center/cover;
}

.partner-image4 {
    background: url(/assets/images/partner4.png) center center/cover;
}

/* Partner Section Ends */

/* Upgrade Section Starts */
.upgrade-section {
    background: linear-gradient(to bottom left, rgb(33, 209, 177), rgb(13, 198, 183));
}

.upgrade-first-div {
    background: url(/assets/images/upgrade-img.png) center center/cover;
    width: 13rem;
    aspect-ratio: 1/1;
}

/* Upgrade Section Ends */

/* Footer Starts */
.footer-top {
    background-color: rgb(33, 33, 33);
    font-variation-settings: 'FILL' 1, 'wght' 400, 'GRAD' 0, 'opsz' 24;
    color: #808080;
}

.footer-top-logo {
    background: url(/assets/images/logo.png) center center/cover;
    mix-blend-mode: color-dodge;
    aspect-ratio: 2/1;
    filter: invert(100%);
}

.footer-top-social img {
    opacity: 0.8;
}
.footer-bottom{
    background-color: black;
    font-size: 14px;
}
/* Footer Ends */